<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
    
<body class="basicbackground-color">

    <section layout:fragment="contents" class="contents d-flex flex-column align-items-center">
	        
        <header class="header-wrapper">
        	<div class="d-flex flex-column">
        	
        	<div oncontextmenu="return false" onselectstart="return false" ondragstart="return false" onkeydown="return false">
        	<div class="d-flex">
    			<h1 class="memorablegram-title p-4">Memorablegram</h1>
    			
    				<div class="d-flex align-items-center" style="gap:7rem;">
       					<p class="bell" style="font-size:48px;color:red;">🔔</p>
        				<p class="bell" style="font-size:36px; color:red;">🔔</p>
        				<p class="" style="font-size:50px; font-family: serif;">🎄</p>
        				<h6 style="font-size:45px;"> <span>M</span><span>e</span><span>r</span><span>r</span><span>y</span> <span>C</span><span>h</span><span>r</span><span>i</span><span>s</span><span>t</span><span>m</span><span>a</span><span>s</span></h6>
        				<p class="" style="font-size:50px;">🎄</p>
        				<p class="bell" style="font-size:36px; color:red;">🔔</p>
        				<p class="bell" style="font-size:48px;color:red;">🔔</p>
    				</div>
    		</div>
    		</div>
			</div>

            <div>
        <nav class="main-menu col-2 ml-3">
		    <ul class="nav flex-column">
		        <li class="nav-item menu-item">
		            <a href="/post/timeline-view" class="nav-link text-white font-weight-bold" style="font-size: 20px;">
		            <i class="bi bi-house-door"></i> Home
		            </a>
		        </li>
		        <li class="nav-item menu-item">
		            <a href="2" class="nav-link text-white font-weight-bold" style="font-size: 20px;">
		            <i class="bi bi-search"></i> Search
		            </a>
		        </li>
		        <li class="nav-item menu-item">
		            <a href="/post/upload-view" class="nav-link text-white font-weight-bold" style="font-size: 20px;">
		            <i class="bi bi-plus-square"></i> Create</a>
		        </li>
		        <li class="nav-item menu-item">
		            <a href="/user/mypage-view" class="nav-link text-white font-weight-bold" style="font-size: 20px;">
		            <i class="bi bi-person-circle"></i> Profile</a>
		        </li>
		        <li class="nav-item menu-item fixed-item" title="Log out from your account">
				    <a href="5" class="nav-link text-white font-weight-bold">
				        <i class="bi bi-door-closed-fill logout"></i> Log out
				    </a>
				</li>
				</ul>
			</nav>

                </div>
        </header>
	
        <div th:each="card:${cardList}" class="photo-card border border-secondary rounded" style="width: 33rem; height: 45rem;">
                
                <div class="d-flex align-items-center p-3">
                <div class="d-flex mt-">
                    <a href="/user/userpage-view" class="text-decoration-none text-white">
                        <i class="bi bi-person-circle icon-large"></i>
                    </a>
                    <h5 class="ml-3"><span class="font-weight" th:text="${card.loginId}">!User Name!</span></h5>
                    <span class="small mt-1 ml-2"> - 12m</span>
                </div>
                <span class="ml-auto"><i class="bi bi-three-dots-vertical"></i></span>
             </div>
             
                <div class="photo-container mt-3">
                    <img th:src="${card.imagePath}" 
                        alt="Uploaded Image">
                </div>
                
                <div class="line mt-4"></div>

                
                <div class="p-2 ml-1">
                    <div class="d-flex align-items-center">
                        <i th:unless="${card.isLike}" class="bi bi-heart like-btn" style="font-size: 27px;" th:data-post-id="${card.postId}"></i>
                        <i th:if="${card.isLike}" class="bi bi-suit-heart-fill mr-3 text-danger" style="font-size: 27px;"></i>
                        <i class="bi bi-chat-square mr-3" style="font-size: 27px;"></i>
                        <i class="bi bi-send" style="font-size: 27px;"></i>
                    </div>
                    
                    <div>
                    <p class="card-text">
                        Liked by <span class="font-weight-bold" th:text="${card.loginId}">!User Name!</span> and 
                        <span class="font-weight-bold" th:text="${card.likeCount}">Number of likes</span> others
                        <br>
                        <small class="seetranslate">See translate</small>
                    </p>
                    </div>
                    
                    
                    <div class="comment-box d-flex align-items-center">
					    <div class="comment-text">
					        <span class="font-weight-bold" th:text="${card.loginId}">!User Name!</span>
					        <span class="ml-1">
					            <span th:text="${card.contents}" class="short-text">
					                You have to let go, Shu. You know I wouldn't ask you if it wasn't safe, right? It could be dangerous...
					            </span>
					            <span th:text="${card.contents}" class="full-text d-none">
					                You have to let go, Shu. You know I wouldn't ask you if it wasn't safe, right? It could be dangerous if you don't know how to do this. it could be really really important and I may not there to help you, when that happens I have to make sure you can do it.
					            </span>
					        </span>
					        <div class="btn-container d-flex">
					        <button class="btn-toggle-text btn btn-link" style="text-decoration: none; padding:0;" >more</button>
					        <button class="btn-toggle-text btn btn-link btn-hide d-none" style="text-decoration: none; padding:0;">hide</button>
					    </div>
					</div>
					    </div>
					    
					
					
					<div class="d-flex flex-column mt-4">
						<div th:each="comment:${card.commentList}" class="mt-1">
					    	<span th:text="${card.userId}" class="font-weight-bold">User</span> <span th:text="${comment.contents}" > 댓글</span>
					    </div>
					    <div class="view-comments cursor-pointer mt-1">
					       <div>View all comments</div>
					    </div>
					   <div class="add-comment mt-2 d-flex flex-column">
					   <div class="d-flex">
					    <input
					    	th:id="|commentInput${card.postId}|"
					        type="text" 
					        class="container text-white p-0" 
					        style="background-color: #111111; border: none; outline: none; padding-left: 0;" 
					        placeholder="Add a comment...">
					        <button class="comment-btn" th:data-post-id="${card.postId}" style="background-color: #111111; border: none; outline: none; color:#0d6efd">post
					        </button>
					     </div>
					    <span class="line-container mt-2" style="border-top: 1px solid #555555;"></span>
					</div>
				</div>
			 
			 </div>
			 </div>
        
    </section>
</body>

<script layout:fragment="script">
	
	$(document).ready(function () {
		
		$(".comment-btn").on("click", function() {
			let postId = $(this).data("post-id");
			
			let comment = $("#commentInput" + postId).val();
			
			$.ajax({
				type:"post"
				, url:"/post/comment/create"
				, data:{"postId":postId, "contents":comment}
				, success:function(response) {
					if(response.result == "success") {
						location.reload();
					} else {
						alert("Something went wrong...please try again.");
					}
				}
				, error:function() {
					alert("error...");
					return;
				}
			});
		});
		
		$(".like-btn").on("click", function() {
			let postId = $(this).data("post-id");
			
			$.ajax({
				type:"post"
				, url:"/post/like"
				, data:{"postId":postId}
				, success:function(response) {
					if(response.result == "success") {
						location.reload();
					} else {
						alert("Something went wrong...please try again.");
					}
				}
				, error:function() {
					alert("error...");
					return;	
				}
			});
		});
	});
	
    const maxShortText = 120;
    const maxFullText = 180;

    document.querySelectorAll(".comment-box").forEach((commentBox) => {
        const shortText = commentBox.querySelector(".short-text");
        const fullText = commentBox.querySelector(".full-text");
        const btnContainer = commentBox.querySelector(".btn-container");
        const btnShow = btnContainer.querySelector(".btn-toggle-text");
        const btnHide = btnContainer.querySelector(".btn-hide");

        if (fullText.textContent.length > maxShortText) {
            const limitedText = fullText.textContent.substring(0, maxShortText) + "...";
            shortText.textContent = limitedText;
        } else {
            shortText.textContent = fullText.textContent;
        }

        let isCollapsed = true;

        btnShow.addEventListener("click", () => {
            isCollapsed = !isCollapsed;
            if (isCollapsed) {
                shortText.classList.remove("d-none");
                fullText.classList.add("d-none");
                btnShow.textContent = "more";
                btnHide.classList.add("d-none");
            } else {
                shortText.classList.add("d-none");
                fullText.classList.remove("d-none");

                if (fullText.textContent.length > maxFullText) {
                    fullText.textContent = fullText.textContent.substring(0, maxFullText) + "...";
                }

                btnShow.classList.add("d-none");
                btnHide.classList.remove("d-none");
            }
        });

        btnHide.addEventListener("click", () => {
            isCollapsed = !isCollapsed;

            shortText.classList.remove("d-none");
            fullText.classList.add("d-none");
            btnHide.classList.add("d-none");
            btnShow.classList.remove("d-none");
            btnShow.textContent = "more";
        });
    });
</script>
</html>
