		<footer class="d-flex  m-5 footer">
		    <div >
		        <p>
		            Miracle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jobs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;API&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Locations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Memorablegram&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lite&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miracle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uploading&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&amp;&nbsp;Non-Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miracle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verified
		        </p>
		        <div class="text-center">
		        <div>© 2024 Memorablegram from Miracle</div>
		        </div>
		    </div>
		</footer>