				<footer class="d-flex align-items-center justify-content-center mt-3">
					
					<div class="text-center">
  						<p>
  							Miracle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blog&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Jobs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Help&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;API&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Terms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Locations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Memorablegram&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lite&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miracle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Uploading&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&amp;&nbsp;Non-Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miracle&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Verified
						</p>
					<div>© 2024 Memorablegram from Miracle</div>
					</div>

				</footer>