@charset "UTF-8";

.basicbackground-color {
    background-color: #111111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.memorablegram-title {
    font-family: 'Pacifico', cursive;
}

.memorablegram-timelone {
	font-family: 'Pacifico', cursive;
}

.img-fluid {
	width:400px;
}

.button-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}

.signup-btn {
    border: 1.5px solid gray !important;
    border-radius: 4px;
}

.icon-custom {
    margin-right: 8px;
}

.icon-large {
    width: 40px;
    height: 40px;
    color: gray;
}

.custom-container {
    background-color: #111111;
    border: 2px solid black;
    border-radius: 8px;
    max-width: 191px;  
}

.text-container {
    margin-left: 10px;
}

.small {
    font-size: 12px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #2A2A2B;
}

.text {
  white-space: nowrap;
  padding: 0 10px;
  font-size: 16px;
}

.second-content {
	width:Auto 0;
	height:70px;
}

.facebook-login {
	width: 25px;
	height: 25px;
}

body, h1{
    margin: 0;
}
#wrapper {
    align-items: center;
    justify-content: center;
}

.header-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 4rem;
	line-height: 4rem;
	text-align: left;
	color: white;
	z-index: 10;
	background-color: #111111;
}

.photo-card {
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-top: 6rem;
}

.textarea-bg {
	background-color: #1a1a1a;
}


.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    overflow: hidden;
}

.photo-container img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.seetranslate {
	color:#555555;
}

.view-comment {
	color:#555555;
}

.fixed-item {
    position: fixed;
    bottom: 0;
    font-size: 20px;
}
.fixed-item a:hover i {
    color: #dc3545;
}

.logout {
	font-size: 25px;
    line-height: 25px;
    
}

.bell{
      transform-origin: 50% 0%;
      animation-name: shake;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-delay: 0.5s;
    }
    
    @keyframes shake{
      0%{
          transform: rotate(0deg);
        }
        10%{
          transform: rotate(45deg);
        }
        20%{
          transform: rotate(-45deg);
        }
        30%{
          transform: rotate(30deg);
        }
        40%{
          transform: rotate(-30deg);
        }
        50%{
          transform: rotate(10deg);
        }
        60%{
          transform: rotate(-10deg);
        }
        70%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(0deg);
        }
    }
    
.comment-box {
    position: relative;
    line-height: 1.5;
}

.short-text {
    display: inline;
}

.full-text {
    display: inline;
}

.d-none {
    display: none;
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.btn-toggle-text {
    border: none;
    background: none;
    color: #0095f6;
    font-size: 14px;
    
}

.btn-hide {
    display: inline;
    }

.add-comment {
	border: none;
    background: #111111;
}

h6 span {
  position: relative;
  top: 3px;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  font-size: 60px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .4);
}

h6 span:nth-child(2) { animation-delay: .1s; }
h6 span:nth-child(3) { animation-delay: .2s; }
h6 span:nth-child(4) { animation-delay: .3s; }
h6 span:nth-child(5) { animation-delay: .4s; }
h6 span:nth-child(6) { animation-delay: .5s; }
h6 span:nth-child(7) { animation-delay: .6s; }
h6 span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 red,
                 0 2px 0 orange,
                 0 3px 0 yellow,
                 0 4px 0 green,
                 0 5px 0 blue,
                 0 6px 0 navy,
                 0 7px 0 purple,
                 0 8px 0 pink,
                 0 9px 0 red,
                 0 50px 25px rgba(0, 0, 0, .2);
  }
}

.delete-btn:hover {
    background-color: red;
    color: white;
    border-color: black;
  }
  
 .delete-cancel-btn:hover {
	background-color: #0095f6;
    color: white;
    border-color: black;
 }