@charset "UTF-8";

.basicbackground-color {
    background-color: #111111;
    color: white;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memorablegram-title {
    font-family: 'Pacifico', cursive;
}


.button-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
}

.signup-btn {
    border: 1.5px solid gray !important;
    border-radius: 4px;
}

.icon-custom {
    margin-right: 8px;
}

.icon-large {
    width: 40px;
    height: 40px;
    color: gray;
}

.custom-container {
    background-color: #111111; /* 어두운 배경색 */
    border: 2px solid black;  /* 검정색 테두리 */
    border-radius: 8px;       /* 둥근 모서리 */
    max-width: 191px;  
}

.text-container {
    margin-left: 10px;        /* 아이콘과 텍스트 사이 여백 */
}

.small {
    font-size: 12px;          /* "Get it on" 텍스트 크기 */
}

h5 {
    font-size: 18px;          /* "Google Play" 텍스트 크기 */
    font-weight: bold;        /* 굵은 글씨 */
    margin: 0;                /* 추가적인 간격 제거 */
}

.line-container {
  display: flex;             /* Flexbox 사용 */
  align-items: center;       /* 수직 가운데 정렬 */
  justify-content: center;   /* 가로 가운데 정렬 */
  gap: 10px;                 /* 텍스트와 선 사이 간격 */
}

.line {
  flex: 1;                   /* 선이 가능한 한 확장 */
  height: 1px;               /* 선 두께 설정 */
  background-color: #2A2A2B;   /* 선 색상 */
}

.text {
  white-space: nowrap;       /* 텍스트 줄바꿈 방지 */
  padding: 0 10px;           /* 텍스트 좌우 여백 */
  font-size: 16px;           /* 텍스트 크기 설정 */
}

.second-content {
	width:Auto 0;
	height:70px;
}

.facebook-login {
	width: 25px;
	height: 25px;
}

